.list {
  background: #d7d6d6;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  .list--block {
    gap: 30px;
  }
}

.font-normal {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.font-slim {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
