@use "../styles/palette";
.manager-text-label {
  background: transparent !important;
  color: var(--bs-white) !important;
}
// .todo-manager-overlay {
//   width: 100%;
//   border-radius: 3px;
//   box-sizing: border-box;
//   .close-button {
//     height: 20px;
//     width: 20px;
//     background: rgb(97, 208, 149);
//     background: linear-gradient(
//       0deg,
//       rgba(97, 208, 149, 1) 0%,
//       rgba(72, 191, 132, 1) 100%
//     );
//   }
//   .save-button {
//     height: 30px;
//     width: 60px;
//     border-radius: 15px;
//     border-style: none;
//     background: rgb(157, 205, 192);
//   }
//   input {
//     background-color: rgba(0, 110, 144, 0.5);
//     margin: 10px;
//     height: 30px;
//     width: 300px;
//     box-sizing: border-box;
//     border-style: none;
//     border-radius: 25px;
//     padding: 10px;
//   }
//   input:focus {
//     outline: none;
//     background-color: rgb(0, 110, 144);
//     transition: background-color 0.5s;
//   }
// }

// @keyframes fadein {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
