@use "../../styles/palette";

html {
  scroll-behavior: smooth;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}

body {
  background: #fff;
}

.header {
  background: #d7d6d6;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  min-height: 40px;
  max-height: 80px;
  div {
    height: 100%;
  }
  .filter-colour {
    height: 100%;
  }
  input {
    height: 100%;
  }
  button {
    height: 100%;
  }
}
