@use "../../styles/palette";
.button {
  background: rgb(97, 208, 149);
  background: linear-gradient(
    0deg,
    rgba(97, 208, 149, 1) 0%,
    rgba(72, 191, 132, 1) 100%
  );
  height: 50px;
  width: 60px;
  border-style: none;
  // border-style: solid;
  // border-width: 2px;
  // border-color: palette.$dark;
  float: right;
}
.colour-indicator {
  vertical-align: middle;
  display: inline-block;
  margin: 0 10px;
  height: 20px;
  width: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}
